See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# debugging
.vscode

# environment file
.env

# misc
.DS_Store

# npm/yarn files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnclean
